html
  head
    title 404
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css' type='text/css')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css')
  body.content-wrapper
    div.title
      h1 Uiuiui...
      h2 Im Server ist ein Fehler aufgetreten
    p.paragraph-white-basic.
      Bitte versuche es einfach später noch mal!
