html
  head
    title Team unbekannt
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css' type='text/css')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css')
  body
    div.content-wrapper
      div.title
        h1 Team unbekannt
      div.pure-g
        div.paragraph-white-basic.pure-u-1-1.justify.
          Falls das Team noch nie mit diesem Tool gesucht wurde, gib bitte den Summonername eines Teammitglieds ein.&nbsp;
          <span class="text-hover-tooltip" title='Die Riot-API erlaubt es im Augenblick leider nicht direkt nach Teamnamen zu suchen. Stattdessen muss zun채chst nach einem Summoner gesucht werden, zu dem dann eine Liste der Teams mitgeschickt wird, in denen er Mitglied ist.'>Warum?</span>
          <br/><br/> Ein weiterer Grund kann nat체rlich ein Tippfehler sein. Bitte 체berpr체fe deine Eingaben:&nbsp;<span class="text-hover-tooltip">#{teamName}, #{region}</span>
        div.team-by-summoner-form.pure-u-1-2
          form.pure-form-stacked.home-inputform(action='/formHandler/teamsBySummoner')
            fieldset
              legend Summoner-Lookup:
              input.home-inputform-member(type='text', name='summName', placeholder='Summonername')
              select.home-inputform-member(name='region', value='#{region}')
                option(value='EUW') EUW
                option(value='EUNE') EUNE
                option(value='NA') NA
              button.pure-button.pure-button-primary.home-inputform-member(type="submit") Zur Teamauswahl!
        div.wrong-spelling.pure-u-1-2
          form.pure-form-stacked.home-inputform(action='/formHandler/team')
            fieldset
              legend Neue Teamsuche:
              input.home-inputform-member(type='text', name='teamName', placeholder='Teamname')
              select.home-inputform-member(name='region')
                option(value='EUW') EUW
                option(value='EUNE') EUNE
                option(value='NA') NA
              button.pure-button.pure-button-primary.home-inputform-member(type="submit") Neue Anfrage!
