body {
  background-image: url("/public/media/patterns/bg2.png");
  font-family: sans-serif;
  color: rgb(240,240,240);
}

.content-wrapper {
  width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 0 auto;
  margin-top: 5rem;
  font-size: 150%;
  padding: 1rem 2rem 1rem 2rem;
  border: 3px solid rgb(240,240,240);
}

.title h1, h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.home-inputform {
  margin-top: 4rem;
}

.home-inputform-member {
  margin-right: 0.25rem;
}

.paragraph-white-basic {
  font-size: 1.2rem;
  margin-top: 1rem;
  width:
}

.paragraph-white-basic a, a:visited {
  color: rgb(240, 240, 240);
}

.pure-form-stacked input, select {
  color: rgb(40, 40, 40);
}

.pure-form-stacked legend {
  color: rgb(240,240,240);
  font-size: 120%;
  height: 3rem;
}

.text-hover-tooltip {
  cursor: pointer;
  font-weight: bold;
  border-bottom: rgb(190, 0, 0) 1px dotted;
  color: rgb(190, 0, 0);
}

.justify {
  text-align: justify;
}
